.popup__form-heading {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  margin-top: 34px;
  margin-right: 64px;
  margin-bottom: 48px;
  margin-left: 36px;
  max-width: 330px;
}


@media screen and (max-width: 746px) {
  .popup__form-heading {
    font-size: 18px;
    margin-top: 25px;
    margin-right: 22px;
    margin-bottom: 75px;
    margin-left: 22px;
    max-width: 238px;
  }
}