.popup__form-item {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
  margin-bottom: 30px;
  padding-bottom: 13px;
  outline: none;
  /* opacity: 0.2; */
}

.popup__form-item:nth-last-child(2) {
  margin-bottom: 0;
}