.element__button-like {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/Vector-like.svg);
  width: 22px;
  height: 19px;
  background-size: 100%;
  background-repeat: no-repeat;
  align-self: center;
 }

.element__button-like:hover {
  opacity: 0.6;
}